@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  button {
    @apply active:scale-95 transition-transform duration-100;
  }
  
  input, textarea {
    @apply focus:outline-none focus:ring-1 focus:ring-black border-border;
  }
}
